body{
    background-color: #24353f;
}
.content{
    background-color: #24353f;
    box-shadow: -5px 2px 54px -9px rgba(0, 0, 0, 1);
}
.inputs input{
    background-color: transparent;
}
.inputs input::placeholder{
    color: rgb(214, 214, 214);
}
h1{
    color : #17a2bb;
    font-size: 40px;
}
.btn-login{
    --bs-btn-color: #17a2b8;
    --bs-btn-bg: transparent;
    --bs-btn-border-color: #17a2b8;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #17a2b8;
}

.form-control:focus {
    color: white;
    background-color: #24353f;
    border-color: none;
    box-shadow: 0 0 0 0;
}
.form-control{
    color: white;
}
a:hover {
    border-bottom: 1px solid white;
}